# .NET Core / Visual Studio
.vscode/
.vs/
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates
*.sdf
*.opensdf
*.cachefile
*.dll
*.exe
*.pdb
*.log
*.vspscc
*.vssscc
*.dotCover
*.userprefs
*.bak
*.cache
*.dbmdl
*.dbproj
*.dbp
*.dbmdl
*.dbproj
*.dbp
*.ipch/
*.ncb
*.suo
*.tlb
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pubxml
*.publishproj
*.publishsettings
*.scc
*.cache
*.user
*.psess
*.vsp
*.vspx
*.sap
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
